{% load staticfiles %}
<html>
<body background="{% static 'images/services-truckloads.jpg' %}" style="background-size: 1540px 800px">
<table align="center">
    <tr><th style="font-size: 70px" height="100">B.G Transport Company</th></tr>
    <tr>
        <th height="50" style="font-size: 30px">Welcome Users</th>
    </tr>

</table>
<table align="center" cellspacing="40">
<tr>
    <th rowspan="8"><p style="color: white;font-size: 20px;font-family:DialogInput">About Us</p>
        <P style="background-color: white">We’ve made it a priority to keep our business philosophy about relationships,</P>
        <P style="background-color: white"> accessibility, flexibility and responsiveness. If you got a problem,</P>
        <P style="background-color: white"> we’ll find the right solution to fix it. we are here to serve you </P>
        <P style="background-color: white">the better at lowest price with good experince.</P>
            </th>
</tr>
</table>
<form action="{% url 'logincheck' %}" method="post">
    {% csrf_token %}
<table cellspacing="20" cellpadding="10" align="center"><br><br>
                    <tr style="background-color: darkgray">
        <th>
            Username:<input type="text" required name="username1">
        </th>
    </tr>
        <tr style="background-color: darkgray">
        <th>
            Password:<input type="password" required name="password1">
        </th>
    </tr>
    <tr>
        <th><button type="submit">Login</button> </th>
    </tr>

    <tr>
        <th bgcolor="white">
            <a href="{% url 'register' %}">Register</a>
        </th>
    </tr>

            </table>
    <table align="center">
            <tr>
        <th style="color: white">
            {% for x in message %}
                {{ x }}
            {% endfor %}
        </th>
    </tr>
    </table>
    </form>

</body>
</html>












